/* #region Boilerplate */
*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  font: inherit;
}

html {
  color-scheme: light;
}

body {
  min-height: 100vh;
}

img,
picture,
svg,
video {
  display: block;
  max-width: 100%;
}
/* Rules for sizing the icon. */
.material-icons.md-18 {
  font-size: 18px;
}
.material-icons.md-24 {
  font-size: 24px;
}
.material-icons.md-36 {
  font-size: 36px;
}
.material-icons.md-48 {
  font-size: 48px;
}

/* Rules for using icons as black on a light background. */
.material-icons.md-dark {
  color: rgba(0, 0, 0, 0.54);
}
.material-icons.md-dark.md-inactive {
  color: rgba(0, 0, 0, 0.26);
}

/* Rules for using icons as white on a dark background. */
.material-icons.md-light {
  color: rgba(255, 255, 255, 1);
}
.material-icons.md-light.md-inactive {
  color: rgba(255, 255, 255, 0.3);
}

/* #endregion */
:root {
  --accent-medium: #ffe4e6;
  --accent-lightest: #fff1f2;
  --base-color: #be123c;
}
body {
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-template-rows: 1fr 5fr 0.5fr;
  grid-template-areas:
    "nav header"
    "nav main"
    "footer footer";
}
header {
  grid-area: header;
  display: grid;
  grid-template-columns: 3fr 1fr;
  grid-template-areas:
    "search account"
    "greeting admin-controls";
  background-color: var(--accent-lightest);
}
header > * {
  border: 1px solid red;
}
.search {
  grid-area: search;
  display: flex;
  align-items: center;
}
#search-bar {
  margin-right: 10px;
  flex: 1;
}
.account {
  grid-area: account;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.account img {
  height: 30px;
}
.greeting {
  grid-area: greeting;
  display: flex;
  align-items: center;
}
.greeting > img {
  height: 60px;
}
.admin-controls {
  grid-area: admin-controls;
}

nav {
  grid-area: nav;
  background-color: var(--base-color);
}
main {
  grid-area: main;
  background-color: var(--accent-medium);
}
footer {
  grid-area: footer;
  background-color: var(--accent-lightest);
}
